@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Rose&display=swap'); 
*{
    margin: 0%;
    padding: 0%;
}  
body{
    background-size: cover;
    font-family: 'Red Rose', cursive;
    background-image: url(images/bg_.png);
    width: 100vw;
  
}


.flex{
    font-size: larger;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
 background-color: black;
 cursor: pointer;
justify-content: left;
}
.logo{
    margin: 15px;
    size: 20px;
    size: 70px;
}
.trident1{
    color: white;
}

.items{
    /* margin-left: 15px; */
    font-size: medium;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
  color: #ffff;
  /* margin-left: 10px; */
  margin-right: 20px;
  list-style: none;
  margin-left: 25px;
  
}
header{
    position: sticky;
}

.main1{
    text-align: center;
    padding: 120px;
    color: aliceblue;
    font-size: xx-large;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.para1{
    font-size: 23px;
    font-weight: normal;

}
.butt1{
    margin: 40px;
    padding: 28px;
    padding-top: 10px;
    padding-bottom: 10px;

    background-color: rgb(255, 0, 255);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}

.Token{
    /* margin-right: 70px; */
    background-color: rgb(255, 0, 255);
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    margin: 20px;
    padding: 10px;
    font-size: small;
    margin-left: 380px;
}
